body{
    background-image: url("./waterdrinking.jpg");
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
    

}
.back{
    background-color:rgba(239, 248, 252, 0.356);
    border-radius: 10px;
    height:97vh;
   
    
   
}

.text{
   text-align:center;
   padding-top:8%;
 
   
  
}
.p{
    font-family:Roboto;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    color:rgb(10, 8, 110)
}
.p1{
    font-family:Roboto;
    font-style: normal;
    font-size: 40px;
    font-weight: bold;
    color:rgb(77, 7, 156)
}
h2{
    font-family:Roboto;
    font-style: normal;
    font-size: 50px;
    font-weight: bold;
    color:rgb(56, 9, 187);
    text-shadow: 5px 5px gray;
}
.p2{
    font-family:Roboto;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    color:rgb(10, 8, 110)

}
.btn{
    background-color: blue;
    color:white;
    border:0px solid white;
    width:80px;
    height:30px;
    font-weight: bold;
    border-radius: 20px;
}
@media (min-width:300px) and (max-width:576px){
    .p{
        font-size: 20px;
    }
    .p1{
        font-size: 30px;

    }
    h2{
        font-size: 40px;
    }
    .p2{
        font-size:20px;
    }
}
